<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Document</title>
</head>
<body>
    <form  method="POST" class="login">
        {% csrf_token %}
        <h1>Biomedical Asset Management</h1>
        <input type="text" autocomplete="off" name="username" placeholder="Username">
        <input type="password" autocomplete="off" name="password" placeholder="Password">
        <button type="submit"  value="Login">Login</button>
    </form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.14/dist/sweetalert2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% for message in messages %}
<script>
    var m = "{{message}}";
    swal({
            title: "{{ message.tag }}",
            text: "{{ message }}",
            icon: "{{ message.tags }}",
    });
</script>
{% endfor %}
</body>
</html>