@import url('http://fonts.googleapis.com/css?family=Ubuntu:wght@300;400;500;700&dispaly=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
:root
{
    --blue: #022242;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black1: #999;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.6s;
    overflow: hidden;

    
}
.navigation.active
{
    width: 60px;
    transition: 0.6s;
}
.navigation ul
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: fit-content;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:nth-child(1)
{
    margin-bottom: 20px;
    pointer-events: none;
}


.navigation ul li.hovered
{
    background: var(--white);
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}


.navigation ul li.hovered a
{
    color: var(--blue);
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.7rem;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    cursor: pointer;

}



.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 30px 20px 0 var(--white);
    pointer-events: none;
}


.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 30px -25px 0 var(--white);
    pointer-events: none;
}

.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}

.search
{
    position: relative;
    width: 50%;
    height: 30px;
    margin: 0 250px;
    
}

.search label
{
    position: relative;
    width: 100%;
    
}

.search label input
{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--black1);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.Cardbox
{
    position: relative;
    width: 100%;
    padding: 50px;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.Cardbox .card
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(0, 0, 0.2);
}

.Cardbox .card .number
{
    position: relative;
    font-weight: 500;
    font-size: 1.5rem;
    color: #1a7ada;

}

.Cardbox .card .name
{
    color: #444242;
    margin-top: 5px;
    font-size: 1rem;
}

.Cardbox .card .Cardlogo
{
    font-size: 2rem;
    color: #444242;
}
