{% extends "index.html" %}
{% load static %}

{% block content %}

<section style="padding: 10px 10px 10px 10px;">
    <div class="card" style="padding-left: 10px;">
        <div class="card-header">
            <h5 class="h5">
                <strong>Asset List</strong>
            </h5>
        </div>
        <div class="cardBody" id="parant">
            <div class="table">
                <table id="assetlist" class="display" style="width: 100%;">
                    <thead>
                      <tr style="font-weight: bolder;">
                        <td colspan="0">Asset ID</td>
                        <td>Asset Name</td>
                        <td>Make</td>
                        <td>Model</td>
                        <td>Sl_No</td>
                        <td>Dept</td>
                        <td>PMSTAT</td>
                        <td>CALSTAT</td>
                        <td>AMC/CMC</td>
                        <td>STAT</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for Asset in index %}
                      <tr>
                        <td colspan="0">{{Asset.assetid}}</td>
                        <td>{{Asset.assetname}}</td>
                        <td>{{Asset.asset_make}}</td>
                        <td>{{Asset.asset_model}}</td>
                        <td>{{Asset.slno}}</td>
                        <td>{{Asset.dept}}</td>
                        <td>{{Asset.pmstat}}</td>
                        <td>{{Asset.calstat}}</td>
                        <td>{{Asset.amc_cmc}}</td>
                        <td colspan="0">{{Asset.stat}}</td>
                        <td>
                            <a href="#viewModal-{{forloop.counter}}" class="btn btn-warning btn-sm" data-toggle="modal">
                              <i class="fas fa-info"></i> View
                            </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
{% for Asset in index %}
{% include 'ModalAssetView.html' %}
{% endfor %}
<!-- End_Modal -->
{% endblock content %}
