<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <!-- CSS Links -->
    <link rel="stylesheet" type="text/css" href="{% static 'styletest.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
</head>

<body>
    {% include sidebar_template %}
    <div class="container">
        <div class="main" style="overflow-x: auto;">
            <div class="topbar" style="position: sticky;">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search" />
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
            </div>

            {% block content %}

            {% endblock %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'togle.js' %}"></script>
    <script src="{% static 'sweetalert.js' %}"></script>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- DataTables Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    

    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                stateSave: true, // Enable state saving
            });

            // Apply the search
            $('thead th input').on('keyup change clear', function () {
                if (table.column($(this).parent().index()).search() !== this.value) {
                    table
                        .column($(this).parent().index())
                        .search(this.value)
                        .draw();
                }
            });
        });
    </script>

    <!-- SweetAlert for success and error handling -->
    {% if success %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}',
            confirmButtonText: 'OK'
        })
    </script>
    {% endif %}

    {% if error %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: '{{ message }}',
            confirmButtonText: 'OK'
        })
    </script>
    {% endif %}
</body>
</html>
