{% load static %}
<div class="navigation">
    <ul>
        <li><a><span class="icon"><ion-icon name="logo-xbox"></ion-icon></span><span class="title">Home</span></a>
        </li>
        <li class="hovered"><a><span class="icon"><ion-icon name="home-outline"></ion-icon></span><span
                    class="title">Dashboard</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-book-open"></ion-icon></span><span class="title">Add
                    Workorder</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-book-open"></ion-icon></span><span class="title">View
                    Workorder</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-book-open"></ion-icon></span><span class="title">My
                    Work Order</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-tools"></ion-icon></span><span class="title">PPM</span></a>
        </li>
        <li><a><span class="icon"><ion-icon class="las la-tools"></ion-icon></span><span
                    class="title">Calibration</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-shopping-cart"></ion-icon></span><span class="title">Purchase
                    Request</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-shopping-cart"></ion-icon></span><span class="title">PR
                    Approvals</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-file-invoice-dollar"></ion-icon></span><span
                    class="title">Bill</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-file-pdf"></ion-icon></span><span class="title">Data
                    Bank</span></a></li>
        </ui>
</div>