{% load static %}
<div class="navigation">
    <ul>
        <li><a><span class="icon"> <img src="{% static 'logo.png' %}" height="50x" width="50px" alt="" loading="lazy" class="brand-logo" /></span><span class="title">Home</span></a>
        </li>
        <li class="hovered"><a><span class="icon"><ion-icon class="las la-book-open"></ion-icon></span><span class="title">Add
                    Workorder</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-book-open"></ion-icon></span><span class="title">View
                    Workorder</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-shopping-cart"></ion-icon></span><span class="title">Purchase
                    Request</span></a></li>
        <li><a><span class="icon"><ion-icon class="las la-file-pdf"></ion-icon></span><span class="title">Data
                    Bank</span></a></li>
        </ui>
</div>