{% load crispy_forms_tags %}
{% load static %}
<div class="modal fade" id="wogroupModalUSRAPR2" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 40%;">
    <div class="modal-content">
      <div class="container">
        <div class="modal-header">
          <h5 class="modal-title">Assign Work Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="wouserapprove" method="post" autocomplete="off" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-row inline-size">
                <div class="col-auto">
                  <label style="margin-top: 6%;" for="wo_attended">Approval Date_Time:</label>
                  <input class="form-control" id="wo_attended" type="datetime" name="wo_attended" value="{{datenow|date:'Y-m-d H:i'}}" readonly />
                </div>
                <div class="col-auto">
                    <label style="margin-top: 6%;" for="wo_id">Work Orders:</label>
                    <input class="form-control" id="woid" name="wo_id" type="hidden">
                    <input class="form-control" type="text" id="selecteDDisplay" name="selectedwo" readonly/>
                </div>
                <div class="col-auto">
                  <div data-role="page">
                    <div id="page" data-role="content"></div>
                    <input type="hidden" id="CanvasDataSTAT" name="CanvasDataSTAT" value="NotSigned" required />
                    <input type="hidden" id="canvas_data" name="canvas_data" required />
                  </div>
                </div>
                <div class="col-auto">
                  <canvas style="background-color: bisque;margin-top: 6%;" id="myCanvas" width="400" height="150" name="sign"></canvas>
                  <input id="btnSubmitSign" type="button" data-inline="true" data-mini="true" data-theme="b" value="Submit Sign" onclick="fun_submit()" />
                  <input id="btnclear" type="button" data-inline="true" data-mini="true" data-theme="b" value="Clear" onclick="clearbtn()" />
                </div>
              </div>
            <button type="button" id="form-sbtn" onclick="signcheck()" class="btn btn-success" style="margin-top: 2%;"><i class="fas fa-database"></i> Aprrove</button>
          </form>
          <!--'wo_attended' is dummy for avoiding error-
          <div class="col-auto">
              <label style="margin-top: 6%;">Responded Date_Time:</label>
              <input class="form-control" id="wo_attended" type="hidden" name="wo_attended" value="{{datenow|date:'Y-m-d H:i'}}"/>
          </div>
          <!##############################################-->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'signature.js' %}"></script>
<script>
  function signcheck() {
    let subButton = document.getElementById("form-sbtn"); 
    let canvasStatus = document.getElementById("CanvasDataSTAT").value;
    console.log(canvasStatus);
    
    if (canvasStatus === "Signed") {
      subButton.setAttribute("type", "submit");
    } else {
      alert('Please sign and Click Submit Sign');
    }
  }
</script>